<div class="header">
  <ul class="nav nav-pills">
      <li>
        <%= link_to root_path, class: "button" do %>
          <i class="fa fa-calendar fa-3x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to g_rates_path, class: "button" do %>
          <i class="fa fa-area-chart fa-3x"></i>
        <% end %>
      </li>
  </ul>
</div>
