<div class="header">
  <ul class="nav nav-pills">
      <li>
        <%= link_to root_path, class: "button" do %>
          <i class="fa fa-calendar fa-3x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to g_rates_path, class: "button" do %>
          <i class="fa fa-area-chart fa-3x"></i>
        <% end %>
      </li>
  </ul>
</div>
<div class="header_search">
  <nav class="navbar navbar-dark bg-inverse">
    <ul class="nav nav-pills">
        <li>
          <%= link_to "Passive Income Pursuit", "http://www.passive-income-pursuit.com/", :target => "_blank", class: "button btn-primary" %>
        </li>
    </ul>
    <form class="form-inline pull-xs-right">
      <input class="form-control" type="text" placeholder="Enter Ticker Symbol">
      <button class="btn btn-success-outline" type="submit">Search</button>
    </form>
  </nav>
</div>
